<ul>
  <li><app-item [value]="items[0]"></app-item></li>
  <li><app-item [value]="items[1]"></app-item></li>
  <li><app-item [value]="items[2]"></app-item></li>
  <li><app-item [value]="items[3]"></app-item></li>
</ul>
