<input #inputItem type="text" (input)="updateItemValue(inputItem.value)">
<select #selectItem (change)="updateItemNumber(selectItem.value)">
  <option value="0">1</option>
  <option value="1">2</option>
  <option value="2">3</option>
  <option value="3">4</option>
</select>
